database.ini
Git Ignore.txt
Hash.py
Keys.json
kin_contacts.txt
MailUser.txt
Removing from gitignore.txtRemoving from gitignore.txt
write_contacts.txt
write_user.txt
testing1.py
testing2.py
config.py
GMaps.py
Problems Faced.txt
.idea